.container
  h3 Productos
  .scrollTable
    table#listProducts
      thead
        tr
          each title in table_headers
            th= title
          tbody
            tr 
                td#empty(colspan=3)
                  | No hay productos para mostrar
            each product in products
              +productItem(product)