//- .container
//-   h3 Productos
//-   .scrollTable
//-     table#listProducts
//-       thead
//-         tr
//-           each title in table_headers
//-             th= title
//-           tbody
//-             each product in products
//-               +productItem(product)