.container
  include login
  h3 Centro de mensajes
  form#addMessage
    input(type="text" placeholder="Escribe tu mensaje aquí" id='message')
    button#send(type="submit"): p Enviar
  #messages
    div
  